*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('fondo3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animate0g 8s linear infinite;
}


.login-box{
    position: relative;
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.164);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
}
.otro h3{
    color: aqua;
}

h2 {
    font-size: 2em;
    color: aliceblue;
    text-align: center;

}

.input-box{
    position: relative;
    width: 320px;
    margin: 29px 0;
    border-bottom: 2px solid white;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: rgb(0, 255, 255)
}

.input-box .icon{
    position: absolute;
    right: 9px;
    color: white;
    font-size: 1.2em;
    line-height: 60px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(18, 94, 207);
    color: white;
}

.register-link {
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 290px;
    }

}
a{
    text-decoration: none;
    color: white;
}